* {
    background-color: rgb(57, 87, 87);
    color: whitesmoke;
    font-family: Verdana, Arial;
}

img {
    width: 700px;
    height: auto;
}

p {
    font-size: 24px;
}

div {
    font-size: 14px;
    font-style: italic;
}


/* unvisited link */

a:link {
    color: whitesmoke;
}


/* visited link */

a:visited {
    color: lightgray;
}


/* mouse over link */

a:hover {
    color: lightgoldenrodyellow;
}